<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles.css">
        <title>Contact</title>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="logo">acceler<span class="ite">-ITe</span></div>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="contact.html" class="contact">Contact</a></li>
                    <li><a href="waitlist.html" class="waitlist">Waitlist</a></li>
                </ul>
            </nav>
        </header>
        <section class="homepage"></section>
        <div class="form">
            <form class="contactForm">
                <div class="reach">Reach Out!</div>
                <span>
                    <div class="def">Name:</div>
                    <input type="text" placeholder="Elon Musk" required class="Cname">
                    <br>

                    <div class="def">Email:</div>
                    <input type="email" pattern="[a-zA-Z0-9]+@[a-zA-Z]+.[a-zA-Z]{2,}" placeholder="lorem@ipsum.net" required class="Cemail">
                    <br>

                    <div class="def">Message: </div>
                    <input type="text" placeholder="$1 Billion" required class="Cmsg">
                    <br>

                    <button type="submit" class="Csubmit">Submit</button>
                </span>
            </form>
        </div>
        <script src="../main.js"></script>
    </body>
</html>